log/**/*
log
tmp/**/*
tmp
config/database.yml
db/schema.rb
*.kpf
public/system
config/enki.yml
db/*.sqlite3
.DS_Store
*.esproj
config/*.sphinx.conf
db/sphinx
.idea/
clips
config/initializers/twitter.rb
public/2009/
config/initializers/hoptoad.rb
lib/hurls.rb

