!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h2 New "Win the World" article by you
    %p Hi! This is to let you know that a testimony or news article by you, or someone linked to this email address, has been posted on the #{link_to "Win the World", "http://wtw.familymembers.com"} site. 
    %br
    %p Article titled: #{h(@post.title)}.
    %br
    = link_to("Click here", @url) + " to see the article."
    %br
    %p If you have any additional info about the testimony that you feel would be helpful to others, please feel free to post a comment on the article. 
    %br
    %p Thank you so much for contributing to the Win the World site and through your news and testimonies, helping Family members around the world better fulfill the mission!
    %br
    %p Have a great day! 
    %p Love, the Win the World team (CGO International Board)
