!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h2 Submission from: #{@name}
    %p
      %b Email: #{@email}
    %br
    %p Submission:
    %br
    = @content
