!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h2 Submission from: #{h(@name)}
    %p
      %b Email: #{h(@email)}
    %br
    %p Submission:
    %br
    = h(@content)
