.str{color:#0f0}
.kwd{color:#2894ff}
.com{color:#616161;}
.typ{color:#fff}
.lit{color:#f57900}
.pun{color:#c0c0c0}
.pln{color:#c0c0c0}
.tag{color:#f5cd00}
.atn{color:#00c400}
.atv{color:#0f0}
.dec{color:#0f0}

pre{background:#111111; border:1px solid #333333; color:#c0c0c0; display:block; overflow:auto; padding:5px;}

@media print{
    .str{color:#060}
    .kwd{color:#006;font-weight:bold}
    .com{color:#600;font-style:italic}
    .typ{color:#404;font-weight:bold}
    .lit{color:#044}
    .pun{color:#440}
    .pln{color:#000}
    .tag{color:#808000;font-weight:bold}
    .atn{color:#404}
    .atv{color:#060}
}