/* === Login Thingy ============================================= */

#zlogin-link { /* The little logo */
       display: block;
       position: absolute;
       top: 5px; /* Use to position from top */
       right: 10px; 
       width: 20px;
       height: 20px;
       background: transparent url(/images/login-logo-small-dark.gif) no-repeat 0 2px; 
       z-index: 5;
       overflow: hidden;
       cursor: pointer;
}

#zlogin-box {
       position: absolute;
       top: 27px; 
       right: 10px; 
       z-index: 10;
       padding: 15px 50px 15px 15px;
       margin: 0;
       color: #333;
       border-top: 1px solid #888;
       border-bottom: 2px solid #333;
       border-left: 1px solid #888;
       border-right: 2px solid #333;
       background: white url(/images/login-logo-large.gif) no-repeat 15px 15px;
       overflow: hidden;
       text-align: left;
}

#zlogin-box a { color: #333 !important; }

#zlogin-box p {
       margin: 0 0 0 40px;
       padding: 0;
       font: normal 10px verdana, sans-serif !important;
}

#zlogin-box strong {
       font-size: 14px !important;
       padding-right: 5px;
}

#zlogin-close {
       position: absolute;
       top: 0;
       right: 0;
       width: 40px;
       height: 40px;
       background-color: white;
       background-image: url(/images/login-close.gif);
       background-repeat: no-repeat;
       background-position: top left;
       overflow: hidden;
       cursor: pointer;
}

#zlogin-close:hover {
       background-position: 0 -40px;
}
