/* CSS Document */

/*-------------Global Tags-----------------*/

body {
background: #6e778c;
margin: 0px;
font-family: Cambria, "Times New Roman", serif;
padding: 0;
}

a {
  border: none !important;
  outline: none;
  color: white;
  }
  a:hover {
  	color: black;
  }

img {
border: none !important;
outline: none;
}

h2, .post_title {
padding: 0;
margin: 0;
color: #fff;
font-family: Cambria, "Times New Roman", serif;
font-size: 22px;
font-weight: 100;
}

.post_title {
  font-size: 26px;
  font-weight: bold;
}


h3 {
font-size: 18px;
font-weight: bold;
font-family: sans-serif;
color: #fff;
margin: 3px 0 7px 2px;
}

h4 {
font-size: 18px;
font-weight: bold;
font-family: sans-serif;
color: #fff;
margin: 10px 0 7px 2px;
border-top: 1px dotted black;
padding-top: 5px;
}

p {
padding: 0;
margin: 0 0 15px 0;
}

form {
padding: 0;
margin: 0;
}

/*-------------Special--------------*/

.label {
font-size: 12px;
color: #444;
font-family: Calibri, Arial, sans-serif;
}

.author, .tweet_date {
  color: #888;
  font-size: 12px;
  margin: 0 0 15px 0;
  }
  .author a {
    color: #888;
  	text-decoration: none;
    }
    .author a:hover {
      color: white;	
      text-decoration: underline;
    }

.large_link a {
	font: 14px sans-serif !important;
}

img.more:hover {
filter:alpha(opacity=65);   
opacity: 0.65;
}

#spinner {
	height: 20px;
	width: 20px;
	float: left;
	padding: 6px 0 0 0;	
}


/*-------------Layout Divs--------------*/

#headerWrap {
width: 100%;
background: url(/images/header_top_bg.gif) bottom left repeat-x;
}

#headerTop {
height: 38px;
width: 848px;
text-align: right;
position: relative;
margin: 0 auto;
}

#headerTop a {
display: block;
height: 26px;
float: right;
padding: 8px 21px 0 0;
background: url(/images/dot.gif) top right no-repeat;
color: #8d8e90;
text-decoration: none;
font-size: 15px;
font-family: Cambria, "Times New Roman", serif;
font-weight: 100;
letter-spacing: -0.6px;
}

#headerTop a:hover {
color: #000;
text-decoration: underline;
}

#flash-message {
	float:  left;
  padding: 8px;
  color: #8d8e90;
  font-size: 15px;
  font-family: Cambria, "Times New Roman", serif;
}

#headerWrap input {
width: 195px;
height: 18px;
border: 1px solid #ccc;
background: #f5f5f5;
margin: 0 0 5px 0;
}

#headerWrap input:hover {
border: 1px solid #c9c9c9;
background: #fcfbfb;
}

#headerWrap label {
	margin-left: 5px;
}

#headerWrap textarea {
width: 455px;
height: 65px;
border: 1px solid #ccc;
background: #f5f5f5;
}

#headerWrap textarea:hover {
border: 1px solid #c9c9c9;
background: #fcfbfb;
}

#submit {
width: 849px;
position: relative;
margin: 0px auto;
}

#submit_left {
  float: left;
	width: 200px;
	margin-left: 5px;
	padding: 5px 0 0 0;
}

#submit_right {
  float: right;
	width: 510px;
	padding-right: 35px;
	padding-top: 5px;
}

textarea#content {
	padding: 0;
  width: 530px;
}

#search {
width: 849px;
position: relative;
margin: 0px auto;
}

#search_box {
  float: left;
  position: relative;
  top: 32px;
  padding: 2px;
}

#search_submit_button, #submit_submit_button {
	width: 75px !important;
	height: 27px !important;
	margin: 30px 0 0 5px !important;
	border: 0;
	padding: 0;
	background: none;
	border: none !important;
  }
  #submit_submit_button {
  	float: right;
  	padding-right: 10px !important;
  }

.result {
  padding-bottom: 10px;
  color: lightgrey;
  }  
  .result a {
    text-decoration: none;
    color: black;
    }
    .result a:hover {
    	color: white;
    }


#bodyInner {
background: url(/images/bg.jpg) top center repeat-x;
width: 100%;
}

#wrapper {
width: 849px;
position: relative;
margin: 0 auto;
}

#header {
width: 848px;
height: 81px;
background: url(/images/header.jpg) bottom left no-repeat;
padding: 64px 0 0 0;
}

#content {
width: 808px;
background: #fff;
padding: 0 20px 0 20px;
}

#feature {
width: 808px;
height: 351px;
background: url(/images/feature_bg.jpg) top left no-repeat;
}

#featureLeft {
  width: 200px;
  float: left;
  padding: 25px 0 0 0;
  }
  #featureLeft a {
    display: block;
    float: left;
    width: 160px;
    height: 32px;
    margin: 0 0 9px 0;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-family: Cambria, "Times New Roman", serif;
    font-weight: 100;
    padding: 10px 0 0 26px;
    }
    #featureLeft a:hover {
    background: url(/images/nav_hover.gif) top left no-repeat;
    color: #fff;
    }
  #featureLeft a.carousel-selected {
  background: url(/images/nav_active.gif) top left no-repeat;
  color: #3e6276;
  }

#featureRight {
width: 608px;
float: right;
}

#fullPost, #sectionPage, #comments {
width: 748px;
background: #575c61 url(/images/feature_long_bg.jpg) top left no-repeat;
padding: 30px;
font-family: Calibri, Arial, sans-serif;
font-size: 14px;
color: #fff;
}

#featureBottom {
width: 808px;
height: 10px;
background: url(/images/feature_bottom.jpg) top left no-repeat;
}

#frontpage_posts_wrapper {
width: 608px;
height: 350px;
overflow: hidden;
}

div.scroller { 
	width: 608px; 
	height: 350px;
	overflow: hidden;
	}
	div.scroller div#scrollcontent {
		width: 10000px;
		}
	div.scroller div.section {
		width:608px;
		height:350px;
		overflow:hidden;
		float:left;
		padding:1em;		
		}

#singlePostSummary, #tweets, #twoPostSummary {
  float: left;
  width: 516px;
  padding: 20px 0 0 44px;
  font-family: Calibri, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  }

  #twoPostSummary {
  width: 236px;
  }
  
  #tweets {
  	padding-top: 30px;
  }

#arrows {
  width: 808px;
  height: 27px;
  padding: 15px 0 0 0;
  }
  #arrows img:hover, #frontpage img:hover {
  filter:alpha(opacity=65);   
  opacity: 0.65;
  }

#leftArrow {
width: 27px;
float: left;
}

#rightArrow {
width: 27px;
float: right;
}

#middleNavButton {
width: 97px;
float: left;
margin: 0 0 0 327px;
}

#homeButton {
  width: 35px;
	float: left;
	margin: 0 0 0 332px;
}

#archivesButton {
  width: 35px;
	float: left;
  margin: 0 0 0 20px;
  }
  #archivesButton img, #homeButton img {
  	width: 35px;
  	height: 27px;
  }

#clear {
clear: both;
height: 1px;
line-height: 1px;
}

#footer {
  width: 838px;
  height: 52px;
  background: url(/images/footer.gif) top left no-repeat;
  padding: 35px 10px 0 0;
  text-align: right;
  color: #a5b7c3;
  font-size: 13px
  }
  #footer a {
  text-decoration: none;
  color: #a5b7c3;
  font-size: 13px;
  }

#rss {
width: 40px;
float: left;
}

/* ------- Posts/Comments ---------- */

.summary {
}

.postbody img, .summary img {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
	border: 1px solid black !important;
	padding: 1px;
}

.postbody img:hover, #new_comment input:hover, #comments img:hover {
  filter:alpha(opacity=65);   
  opacity: 0.65;
}

#comments {
	background: #575c61 url(/images/comments_bg.jpg) bottom left no-repeat;
	margin: 7px 0 0 0;
}

#new_comment_link a {
	color: grey;
  font: 14px sans-serif;
  text-decoration: none;
  }
  #new_comment_link a:hover {
  	color: white;
  	text-decoration: underline;
  }

#commentlist img {
	height: 12px;
}

#new_comment {
	padding-top: 10px;
  }  
  #new_comment textarea#comment_body {
  	width: 400px;
  	height: 100px;
  }

div.comment div.comment {
  padding: 5px 0 10px 20px;
  color: lightgrey;
}

/* ------- Archive page ---------- */

.archive-month li {
	margin-bottom: 5px;
}


/* ------- Twitter ---------- */

.tweet {
  padding-bottom: 10px;
}

.tweet_date {
  width: 100% inherit;
  font-size: 11px;
	text-align: right !important;
}

