<div id="image_thumbs">

<h2>Available images <small>(latest first)</small></h2>
<p>(Click on an image to see the links to embed it into a post.)</p>

<%= content_tag(:div, "", { :id => "photolinks", :style => "display:none;" }) %> 

    <% Upload.images.each do |img| -%>

    <%= link_to_remote image_tag(img.file.url, :class => 'image_thumb'), :url => photolink_path(img) %>

    <% end -%>
    
</div>
