<% if @has_previous %>

  <div id="leftArrow">
  
    <%= link_to_remote image_tag('arrow_left.jpg', :class => 'arrow'), :url => tweet_path(:page => @page, :direction => 'previous'), :html => {:class => 'ico-prev'} %>
    
  </div>
      
<% end -%>

<% if @has_next %>

  <div id="rightArrow">
  
    <%= link_to_remote image_tag('arrow_right.jpg', :class => 'arrow'), :url => tweet_path(:page => @page, :direction => 'next'), :html => {:class => 'ico-next'} %>  
  
  </div>

<% end -%>