- if @has_previous
  #leftArrow
    = link_to_remote image_tag('arrow_left.jpg', :class => 'arrow', :alt => 'Previous Page'), :url => tweet_path(:page => h(@page), :direction => 'previous'), :html => {:class => 'ico-prev'}

- if @has_next
  #rightArrow
    = link_to_remote image_tag('arrow_right.jpg', :class => 'arrow', :alt => 'Next Page'), :url => tweet_path(:page => h(@page), :direction => 'next'), :html => {:class => 'ico-next'}
