<h1>New Upload</h1>

<% semantic_form_for([:admin, @upload], :html => { :multipart => :true }) do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <% form.button_field_set do %>
    <%= form.commit_button("Save") %>
  <% end %>
<% end %>
