<div id="arrows">

<div id="leftArrow">

<a href="javascript:" class="carousel-control ico-prev" rel="prev"><img class="arrow" src="/images/arrow_left.jpg" /></a></div>

<%= middle_nav_button %>

<div id="rightArrow"><a href="javascript:" class="carousel-control ico-next" rel="next"><img class="arrow" src="/images/arrow_right.jpg" /></a></div>
</div>
