#footer
  #rss
    = link_to image_tag('rss.gif'), rss_path(:format => 'atom')
  &copy; 
  = Time.now.year.to_s 
  %a(href="http://www.thefamily.org") The Family International
  %br
  Design by #{link_to "Aeron Creative", "http://aeroncreative.com"}
