<div id="footer">
  <div id="rss"><a href="#"><img src="/images/rss.gif" /></a></div>
  &copy; <%= Time.now.year.to_s %> <a href="http://thefamily.org">The Family International</a><br />
  <a href="http://aeroncreative.com">Web Design by Aeron Creative</a>
</div>
