<div id="search" style="display:none; overflow:hidden; height: 133px;">

<h3>Search</h3>

<% form_tag '/search' do -%>

  <%= text_field_tag 'query', nil, :id => 'search_box' %>
  <%= image_submit_tag 'go.gif', :id => 'search_submit_button' %>

<% end -%>

</div>