#search.dropdownbox(style="display:none;")
  %h3 Search  
  - form_tag '/search' do  
    = text_field_tag 'query', nil, :id => 'search_box'
    = image_submit_tag 'go.gif', :id => 'search_submit_button'
