<div id="submit" style="display:none; overflow:hidden; height: 133px;">
<h3>Submit Content</h3>

<form action='#' method='post'>
<table><tr>
<td width="270">
<span class="label">Your Name</span><br />
<input type="text" name="name" />
<br />
<span class="label">Your Email Address</span><br />
<input tyle="text" name="email" />
</td><td width="490">
<span class="label">Content</span><br />
<textarea name="content"></textarea>
</td><td>
<input type="image" name="submit" src="/images/send.gif" style="width: 75px; height: 27px; margin: 0; border: 0; padding: 0; background: none;">
</td></tr></table>
</form>
</div>