<div id="submit" style="display:none; overflow:hidden; height: 133px;">
<h3>Submit Content</h3>

<% form_tag '/submit' do -%>

  <div id="submit_left">
    <span class="label">Your Name</span><br />
    <%= text_field_tag 'name' %>
    <br />
    <span class="label">Your Email Address</span><br />
    <%= text_field_tag 'email' %>
  </div>
  
  <%= image_submit_tag 'send.gif', :id => 'submit_submit_button' %>
  
  <div id="submit_right">
    <span class="label">Content</span><br />
    <%= text_area_tag 'content' %>
  </div>

<% end -%>

</div>
